<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Springs</title>
    <div th:replace="~{fragments/ui-fragments :: head}"></div>
</head>

<body>
<div th:replace="~{fragments/ui-fragments :: navbar}"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Login Springs</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="card p-4 shadow-sm" method="post" action="/login">
                <h2 class="card-title text-center mb-4">Username Password</h2>

                <div class="mb-3">
                    <label for="username" class="form-label">Email or Username</label>
                    <input type="text" id="username" name="username" value="admin1" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" value="admin1password" class="form-control" placeholder="Password" autocomplete="password webauthn" required>
                </div>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-primary w-100">Sign in</button>
            </form>

            <div class="card p-4 shadow-sm mt-4">
                <h2 class="card-title text-center mb-4">WebAuthn</h2>
                <button id="passkey-signin" type="button" class="btn btn-secondary w-100">Sign in</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
